Code files/Node-RED flow.json
[{"id":"91f05030.48c02","type":"tab","label":"Impact of COVID-19 on Food Security in India","disabled":false,"info":""},{"id":"ea862461.9bcdc8","type":"function","z":"91f05030.48c02","name":"Output Parsing","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.text[0];\n}\nelse{\n    msg.url=\"https://blog.forumias.com/wp-content/uploads/2017/12/food.jpg\"\nmsg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["ac15af16.a5406","ad180bfe.e43a78"]]},{"id":"415d3408.71c1dc","type":"function","z":"91f05030.48c02","name":"Input Parsing","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":180,"wires":[["6660239c.106bdc","e9207646.c21f38"]]},{"id":"6660239c.106bdc","type":"watson-conversation-v1","z":"91f05030.48c02","name":"Food Security Chatbot","workspaceid":"e4baadee-cc48-4204-b831-f860989df0c5","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/ffa8fbd4-f68d-4d37-bff9-911a3dc58064","timeout":"","optout-learning":false,"x":540,"y":180,"wires":[["ea862461.9bcdc8"]]},{"id":"ac15af16.a5406","type":"ui_text","z":"91f05030.48c02","group":"15d7c73d.8e3799","order":4,"width":7,"height":8,"name":"","label":"Bot : ","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":260,"wires":[]},{"id":"e9207646.c21f38","type":"ui_text","z":"91f05030.48c02","group":"15d7c73d.8e3799","order":3,"width":7,"height":1,"name":"","label":"You : ","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":100,"wires":[]},{"id":"bb70fdfc.ce9b1","type":"ui_form","z":"91f05030.48c02","name":"","label":"","group":"15d7c73d.8e3799","order":2,"width":7,"height":2,"options":[{"label":"Enter your message","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"send","cancel":"reset","topic":"","x":70,"y":180,"wires":[["415d3408.71c1dc"]]},{"id":"ad180bfe.e43a78","type":"ui_template","z":"91f05030.48c02","group":"15d7c73d.8e3799","name":"Image Template","order":1,"width":7,"height":5,"format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":340,"wires":[[]]},{"id":"15d7c73d.8e3799","type":"ui_group","z":"","name":"Food Security Chatbot","tab":"8926d3a2.cabec","order":1,"disp":true,"width":"7","collapse":false},{"id":"8926d3a2.cabec","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]